@font-face {
  font-family: MonteserratAlternates;
  src: url("assets/MontserratAlternates.ttf");
}

body {
  margin: 0;
  padding: 0;

  font-family: MonteserratAlternates;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("assets/background2.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-color: #ff2f2d;
  height: 900px;

  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    margin: 2rem 8rem 0 8rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .links {
    span {
      padding: 0 3rem 0 3rem;
    }
  }

  .pop-it-block {
    display: flex;
    flex-direction: column;
    margin: 10rem 8rem 0 8rem;
    justify-content: center;
    color: white;
    max-width: 50%;

    .pop-it-span {
      position: relative;
      left: -16px;
      font-size: 12rem;
      font-weight: 900;

      @media (width <= 1500px) {
        font-size: 10rem;
        left: -10px;
      }

      @media (width <= 1250px) {
        font-size: 8rem;
        left: -6px;
      }

      @media (width <= 1000px) {
        font-size: 6rem;
        left: -2px;
      }

      @media (width <= 760px) {
        font-size: 4rem;
        left: 0;
      }

      @media (width <= 525px) {
        font-size: 2rem;
      }
    }

    .antistress-text {
      max-width: 40rem;

      @media (width <= 1250px) {
        max-width: 30rem;
      }

      @media (width <= 1000px) {
        max-width: 25rem;
      }

      @media (width <= 760px) {
        max-width: 12rem;
      }

      .antistress-span {
        font-size: 2rem;
        font-weight: 900;

        @media (width <= 1500px) {
          font-size: 1.85rem;
        }

        @media (width <= 1250px) {
          font-size: 1.65rem;
        }

        @media (width <= 1000px) {
          font-size: 1.35rem;
        }

        @media (width <= 760px) {
          font-size: 1.15rem;
        }

        @media (width <= 525px) {
          font-size: 0.85rem;
        }
      }
    }

    .buy-btn {
      margin-top: 5rem;
      padding: 1.5rem 6rem 1.5rem 6rem;
      background-color: #8ffc60;
      border: none;
      width: 20rem;
      font-size: 2rem;
      font-weight: 900;

      @media (width <= 1250px) {
        font-size: 1.85rem;
        padding: 1.5rem 5rem 1.5rem 5rem;
      }

      @media (width <= 1000px) {
        font-size: 1.5rem;
        width: 16rem;
        padding: 1.5rem 4rem 1.5rem 4rem;
      }

      @media (width <= 760px) {
        font-size: 1.25rem;
        width: 12rem;
        padding: 1.5rem 3.5rem 1.5rem 3.5rem;
      }

      @media (width <= 525px) {
        font-size: 1rem;
        width: 10rem;
        padding: 1.5rem 3rem 1.5rem 3rem;
      }
    }

    .buy-btn:hover {
      cursor: pointer;
      background-color: #c0ffa5;
      transition: background-color 0.15s ease-in-out;
    }
  }
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;

  .what-is-text {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;

    @media (width <= 760px) {
      font-size: 1.25rem;
    }

    @media (width <= 525px) {
      font-size: 1rem;
    }
  }

  .description-container {
    max-width: 50%;
    text-align: center;

    @media (width <= 760px) {
      font-size: 0.95rem;
    }
  }
}

.selection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  background-color: #8ffc60;

  .choose-text {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 4rem;
  }

  .pop-its-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;

    @media (width <= 1000px) {
      flex-direction: column;
    }

    .pop-it-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (width <= 1000px) {
        margin: 0 0 2rem 0;
      }

      .img {
        height: 10rem;
        margin-bottom: 0.75rem;
      }

      .name {
        font-weight: 900;
        margin-bottom: 0.75rem;
      }

      .buy-btn {
        padding: 0.75rem 3rem 0.75rem 3rem;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        background-color: #ff7e36;
      }

      .buy-btn:hover {
        cursor: pointer;
        background-color: #f89e6d;
        transition: background-color 0.1s ease-in-out;
      }
    }
  }
}

.rules-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 600px;
  background-image: url("assets/bg-grid2.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (width <= 1000px) {
    height: 800px;
  }

  .rules-container {
    margin: 0 8rem 0 8rem;
    display: flex;

    @media (width <= 1000px) {
      flex-direction: column;
      text-align: center;
    }

    .rules-text {
      align-self: center;

      .rules {
        font-size: 2.5rem;
        font-weight: 900;

        @media (width <= 1000px) {
          font-size: 2.25rem;
        }
      }

      .description-container {
        margin-top: 2rem;
        max-width: 90%;
      }
    }

    .img {
      height: 22rem;

      @media (width <= 1000px) {
        width: 24rem;
        align-self: center;
        margin-top: 2rem;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 8rem 3rem 8rem;
  background-color: #363636;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  @media (width <= 1000px) {
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 2rem;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}
